* When creating an object with PostgreSQL, you must first assign the group's role.
For more information about this issue with object ownership, see <a href="./postgres.html">Known Issue with RDS for PostgreSQL</a>.
