
<div class="note warning"><strong>Warning:</strong>
	<p style="display: inline">
		The Terraform templates described in this topic are not supported and are not recommended for use.
	</p>
	<p>
		Advanced users can install <%= vars.ops_manager %> with Terraform using <a href="https://github.com/pivotal/paving">paving</a> in GitHub. You may need to modify the configuration of the Terraform templates in this repository based on your unique platform needs.
	</p>
</div>