Open-source software provides the basis for <%= vars.app_runtime_abbr %>, which is the <%= vars.company_name %> distribution of <a href="https://www.cloudfoundry.org/application-runtime/">Cloud Foundry Application Runtime</a> software for hosting apps. <%= vars.company_name %> offers additional commercial features, enterprise services, support, documentation, certificates, and other value-adds.
