<div class="nav-container js-sidenav" id="sub-nav">
  <a class="sidenav-title" data-behavior="SubMenuMobile">Doc Index</a>
  <div class="nav-content">
    <ul>
      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/overview.html"><strong>TAS for VMs Overview</strong></a></li>
      <li class="has_submenu">
      <span role="button"><strong>Release Notes</strong></span>
        <ul>
          <li class=""><a href="https://docs.pivotal.io/application-service/2-11/release-notes/runtime-rn.html">VMware Tanzu Application Service for VMs v2.11 Release Notes</a></li>
          <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/release-notes.html">VMware Tanzu Application Service for VMs [Windows] v2.11 Release Notes</a></li>
          <li class=""><a href="https://docs.pivotal.io/application-service/2-11/release-notes/segment-rn.html">Isolation Segment v2.11 Release Notes</a></li>
        </ul>
      </li>
      <li class="has_submenu">
      <span role="button"><strong>Architecture</strong></span>
        <ul>
          <li class="has_submenu">
          <span role="button"><strong>Components</strong></span>
            <ul>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/architecture/index.html">TAS for VMs Components</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/diego/diego-architecture.html">Diego Components and Architecture</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/index.html">Buildpacks</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/cf-routing-architecture.html">TAS for VMs Routing Architecture</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/architecture/cloud-controller.html">Cloud Controller</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/cc-blobstore.html">Cloud Controller Blobstore</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/architecture/garden.html">Garden</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/grootfs-disk.html">GrootFS Disk Usage</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/http-routing.html">HTTP Routing</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/uaa/uaa-overview.html">UAA Overview</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/services/overview.html">Services</a></li>
              <li class=""><a href="https://docs.pivotal.io/credhub/index.html">CredHub</a></li>
            </ul>
          </li>
          <li class="has_submenu">
          <span role="button"><strong>App Management</strong></span>
            <ul>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/how-applications-are-staged.html">How Apps Are Staged</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/app-lifecycle.html">App Container Lifecycle</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/diego/diego-auction.html">How Diego Balances App Processes</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/high-availability.html">High Availability in TAS for VMs</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/maintaining-high-availability.html">How TAS for VMs Maintains High Availability</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/security.html">TAS for VMs Security</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/gdpr.html">General Data Protection Regulation and Tanzu Application Service for VMs</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has_submenu">
      <span role="button"><strong>Installing</strong></span>
        <ul>
          <li class="has_submenu">
          <span role="button"><strong>TAS for VMs</strong></span>
            <ul>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/requirements.html">TAS for VMs Resource Requirements</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/configure-pas.html">Configuring TAS for VMs</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/quickstart-pas.html">Quick Start TAS for VMs Configuration</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/pas-vsphere-requirements.html">TAS for VMs on vSphere Requirements</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/disk-format.html">vSphere Virtual Disk Types</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/vsphere-nsx-t.html">Deploying TAS for VMs with NSX-T Networking</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/vcf.html">Deploying TAS for VMs to VCF</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/vmc.html">Deploying TAS for VMs to VMC</a></li>
            </ul>
          </li>
          <li class="has_submenu">
          <span role="button"><strong>TAS for VMs [Windows]</strong></span>
            <ul>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/index.html">Overview</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/architecture.html">Product Architecture</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/installing.html">Installing and Configuring TAS for VMs [Windows]</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/stemcells.html">Downloading or Creating Windows Stemcells</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/create-vsphere-stemcell-automatically.html">Creating a Windows Stemcell for vSphere Using stembuild</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/isolation.html">Windows Diego Cells in Isolation Segments</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/upgrade-windows.html">Upgrading TAS for VMs [Windows] and Windows Stemcells</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/migrating.html">Migrating Apps to TAS for VMs [Windows]</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/troubleshooting.html">Troubleshooting Windows Diego Cells</a></li>
            </ul>
          </li>
          <li class="has_submenu">
          <span role="button"><strong>Isolation Segment</strong></span>
            <ul>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/installing-pcf-is.html">Installing Isolation Segment</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/isolation-segments.html">Managing Isolation Segments</a></li>
              <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/routing-is.html">Routing for Isolation Segments</a></li>
            </ul>
          </li>
          <li class="has_submenu">
          <span role="button"><strong>Upgrading TAS for VMs</strong></span>
            <ul>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/configuring.html">Configuring TAS for VMs for Upgrades</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/jump-upgrades.html">Jump Upgrading to TAS for VMs v2.11</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/understanding-pas.html">What Happens During TAS for VMs Upgrades</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/cfpush-availability-during-upgrade.html">cf push Availability During TAS for VMs Upgrades</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has_submenu">
      <span role="button"><strong>Administering TAS for VMs</strong></span>
        <ul>
          <li class="has_submenu">
            <span role="button"><strong>Managing the Runtime</strong></span>
            <ul>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/pas-file-storage.html">Configuring File Storage for TAS for VMs</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/configure-lb.html">Configuring Load Balancing for TAS for VMs</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/ssl-term.html">Configuring SSL Termination for TAS for VMs on vSphere</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/api-endpoint.html">Identifying the API Endpoint for Your TAS for VMs Instance</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/quota-plans.html">Creating and Modifying Quota Plans</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/start-stop-vms.html">Stopping and Starting Virtual Machines</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/scaling-ert-components.html">Scaling TAS for VMs</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/scaling-cloud-controller.html">Scaling Cloud Controller</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/config-cell-cleanup.html">Configuring Diego Cell Disk Cleanup Scheduling</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/examining_grootfs_disk.html">Examining GrootFS Disk Usage</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/metadata.html">Using Metadata</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/custom-branding.html">Custom-Branding Apps Manager</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/orgs-and-spaces.html">Planning TAS for VMs Orgs and Spaces</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/roles.html">Orgs, Spaces, Roles, and Permissions</a></li>
            </ul>
          </li>
          <li class="has_submenu">
          <span role="button"><strong>Enabling Developers</strong></span>
            <ul>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/docker.html">Using Docker in TAS for VMs</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/docker-registry.html">Using Docker Registries</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/enable-vol-services.html">Enabling Volume Services</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/services/managing-service-brokers.html">Managing Service Brokers</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/services/access-control.html">Managing Access to Service Plans</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/services/dashboard-sso.html">Dashboard Single Sign-On</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/listing-feature-flags.html">Using Feature Flags</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/buildpacks.html">Managing Custom Buildpacks</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/supporting-websockets.html">Supporting WebSockets</a></li>
              </ul>
           </li>
           <li class="has_submenu">
              <span role="button"><strong>Managing Internal MySQL</strong></span>
              <ul>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/mysql/scaling-mysql.html">Scaling Internal MySQL</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/mysql/mysql-proxy-pas.html">Using the MySQL Proxy</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/mysql/mysql-diag.html">Running mysql-diag</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/mysql/bootstrap-mysql.html">Recovering From MySQL Cluster Downtime</a></li>
              </ul>
           </li>
       <li class="has_submenu">
          <span role="button"><strong>User Accounts and Communications</strong></span>
          <ul>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/user-types.html">TAS for VMs User Types</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/cli-user-management.html">Creating and Managing Users with the cf CLI</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/uaa/uaa-user-management.html">Creating and Managing Users with the UAA CLI (UAAC)</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/creating-account.html">Creating New TAS for VMs User Accounts</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/pw-policy.html">Configuring UAA Password Policy</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/external-user-management.html">Adding Existing SAML or LDAP Users to a TAS for VMs Deployment</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/notifications-asg.html">Configuring App Security Groups for Email Notifications</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/notifications.html">Getting Started with the Notifications Service</a></li>
            <li class="has_submenu"><span role="button"><strong>UAA</strong></span>
              <ul>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/architecture/uaa.html">User Account and Authentication (UAA) Server</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/uaa/uaa-concepts.html">UAA Concepts</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/uaa/identity-providers.html">Identity Providers in UAA</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/uaa/uaa-metrics.html">UAA Performance Metrics</a></li>
              </ul>
            </li>
            <li class="has_submenu">
            <span role="button"><strong>Configuring Authentication and Enterprise SSO for TAS for VMs</strong></span>
              <ul>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/auth-sso.html">Configuring Authentication and Enterprise SSO for TAS for VMs</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/ca-sso-config.html">Configuring CA as an Identity Provider</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/ping-federate-sso-configuration.html">Configuring PingFederate as an Identity Provider</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="has_submenu">
        <span role="button"><strong>Traffic and Security</strong></span>
          <ul>
            <li class="has_submenu">
            <span role="button"><strong>Front End</strong></span>
              <ul>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/securing-traffic.html">Securing Traffic into TAS for VMs</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/ssl-term-haproxy.html">Configuring SSL/TLS Termination at HAProxy</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/securing-endpoints.html">Securing System and App Endpoints</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/config-ssh.html">Configuring SSH Access for TAS for VMs</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/diego/ssh-conceptual.html">App SSH Components and Processes</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/frontend-idle-timeout.html">Configuring Front End Idle Timeout for Gorouter and HAProxy</a></li>
              </ul>
            </li>
            <li class="has_submenu">
            <span role="button"><strong>Load Balancing and Routing</strong></span>
              <ul>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/custom-load-balancer.html">Using Your Own Load Balancer</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/enabling-tcp-routing.html">Enabling and Configuring TCP Routing</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/enabling_ipv6.html">Enabling IPv6 for Hosted Apps</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/config-proxy.html">Configuring Proxy Settings for All Apps</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/switching-domains.html">Switching App Domains</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/configure-lb-healthcheck.html">Configuring Load Balancer Health Checks for TAS for VMs Routers</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/route-service-lookup.html">Configuring Route Service Lookup</a></li>
              </ul>
            </li>
            <li class="has_submenu">
            <span role="button"><strong>Internal App Security</strong></span>
              <ul>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/container-security.html">Container Security</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/understand-cf-networking.html">Container-to-Container Networking</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/concepts/asg.html">App Security Groups</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/app-sec-groups.html">Restricting App Access to Internal TAS for VMs Components</a></li>
              </ul>
            </li>
            <li class="has_submenu">
            <span role="button"><strong>Certificates and Credentials</strong></span>
              <ul>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/credential-rotation.html">Rotating Runtime CredHub Encryption Keys</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/rotate-ccdb-key.html">Rotating the Cloud Controller Database Encryption Key</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/secure-si-creds.html">Securing Service Instance Credentials with Runtime CredHub</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/security_config.html">Providing a Certificate for Your TLS Termination Point</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/trusted-system-certificates.html">Trusted System Certificates</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="has_submenu">
    <span role="button"><strong>Developing Apps</strong></span>
      <ul>
        <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/prepare-to-deploy.html">Considerations for Designing and Running an App in the Cloud</a></li>
        <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/environment-variable.html">TAS for VMs Environment Variables</a></li>
        <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/capi/client-libraries.html">Cloud Controller API Client Libraries</a></li>
        <li class="has_submenu">
        <span role="button"><strong>Routes and Domains</strong></span>
          <ul>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/routes-domains.html">Configuring Routes and Domains</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/custom-ports.html">Configuring TAS for VMs to Route Traffic to Apps on Custom Ports</a></li>
          </ul>
        </li>
        <li class="has_submenu">
        <span role="button"><strong>Managing Apps with the cf CLI</strong></span>
          <ul>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/using-tasks.html">Running Tasks</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/cf-scale.html">Scaling an App Using cf scale</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/healthchecks.html">Using App Health Checks</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/revisions.html">App Revisions</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/cf-networking.html">Configuring Container-to-Container Networking</a></li>
          </ul>
        </li>
        <li class="has_submenu">
        <span role="button"><strong>Managing Services</strong></span>
          <ul>
            <li class="has_submenu">
            <span role="button"><strong>Service Brokers</strong></span>
              <ul>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/services/examples.html">Example Service Brokers</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/services/binding-credentials.html">Binding Credentials</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/services/enable-sharing.html">Enabling Service Instance Sharing</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/services/app-log-streaming.html">App Log Streaming</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/services/route-services.html">Route Services</a></li>
                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/services/supporting-multiple-cf-instances.html">Supporting Multiple TAS for VMs Instances</a></li>
              </ul>
            </li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/managing-services.html">Managing Service Instances with the cf CLI</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/sharing-instances.html">Sharing Service Instances</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/application-binding.html">Delivering Service Credentials to an App</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/service-keys.html">Managing Service Keys</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/route-binding.html">Managing App Requests with Route Services</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/play-service-bindings.html">Configuring Play Framework Service Connections</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/using-vol-services.html">Using an External File System (Volume Services)</a></li>
            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/user-provided.html">User-Provided Service Instances</a></li>
          </ul>
        </li>
        <li class="has_submenu">
              <span role="button"><strong>Streaming App Logs</strong></span>
              <ul>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/log-management.html">Streaming App Logs to Log Management Services</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/log-management-thirdparty-svc.html">Service-Specific Instructions for Streaming App Logs</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/integrate-splunk.html">Streaming App Logs to Splunk</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/fluentd.html">Streaming App Logs with Fluentd</a></li>
                 <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/services/oms-nozzle.html">Streaming App Logs to Azure OMS Log Analytics</a></li>
              </ul>
           </li>
               <li class="has_submenu">
                  <span role="button"><strong>SSH for Apps and Services</strong></span>
                  <ul>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/app-ssh-overview.html">App SSH Overview</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/ssh-apps.html">Accessing Apps with SSH</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/ssh-services.html">Accessing Services with SSH</a></li>
                  </ul>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Buildpacks</strong></span>
                  <ul>
                    <li class="has_submenu">
                    <span role="button"><strong>System Buildpacks</strong></span>
                      <ul>
                        <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/system-buildpacks.html">System Buildpacks</a></li>
                        <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/binary/index.html">Binary Buildpack</a></li>
                        <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/go/index.html">Go Buildpack</a></li>
                        <li class="has_submenu">
                        <span role="button"><strong>HWC (.NET Framework)</strong></span>
                          <ul>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/hwc/index.html">HWC Buildpack</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/hwc/extension-buildpack.html">Creating an Extension Buildpack for .NET Apps</a></li>
                            <li class=""><a href="https://docs.pivotal.io/platform/2-11/windows/using.html">Tips for .NET Framework Developers</a></li>
                          </ul>
                        </li>
                        <li class="has_submenu">
                        <span role="button"><strong>Java</strong></span>
                          <ul>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/index.html">Java Buildpack</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/java-tips.html">Tips for Java Developers</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/java-client.html">Cloud Foundry Java Client Library</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/java-native-image.html">Using Java Native Image</a></li>
                            <li class="has_submenu">
                            <span role="button"><strong>Configuring Service Connections</strong></span>
                              <ul>
                                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/configuring-service-connections/index.html">Configuring Service Connections</a></li>
                                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/configuring-service-connections/grails-service-bindings.html">Configuring Service Connections for Grails</a></li>
                                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/configuring-service-connections/play-service-bindings.html">Configuring Service Connections for Play Framework</a></li>
                                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/configuring-service-connections/spring-service-bindings.html">Configuring Service Connections for Spring</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/dotnet-core/index.html">.NET Core Buildpack</a></li>
                        <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/nginx/index.html">NGINX Buildpack</a></li>
                        <li class="has_submenu">
                        <span role="button"><strong>Node.js</strong></span>
                          <ul>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/node/index.html">Node.js Buildpack</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/node/node-tips.html">Tips for Node.js Developers</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/node/node-environment.html">Environment Variables Defined by the Node Buildpack</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/node/node-service-bindings.html">Configuring Service Connections for Node.js</a></li>
                          </ul>
                        </li>
                        <li class="has_submenu">
                        <span role="button"><strong>PHP</strong></span>
                          <ul>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/php/index.html">PHP Buildpack</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/php/gsg-php-tips.html">Tips for PHP Developers</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/php/gsg-php-usage.html">Getting Started Deploying PHP Apps</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/php/gsg-php-config.html">PHP Buildpack Configuration</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/php/gsg-php-composer.html">Composer</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/php/gsg-php-sessions.html">Sessions</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/php/gsg-php-newrelic.html">New Relic</a></li>
                          </ul>
                        </li>
                        <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/python/index.html">Python Buildpack</a></li>
                        <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/r/index.html">R Buildpack</a></li>
                        <li class="has_submenu">
                        <span role="button"><strong>Ruby</strong></span>
                          <ul>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/ruby/index.html">Ruby Buildpack</a></li>
                            <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/ruby/ruby-tips.html">Tips for Ruby Developers</a></li>
                            <li class="has_submenu">
                            <span role="button"><strong>Getting Started Deploying Ruby Apps</strong></span>
                              <ul>
                                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/ruby/gsg-ruby.html">Getting Started Deploying Ruby Apps</a></li>
                                <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/ruby/gsg-ror.html">Getting Started Deploying Ruby on Rails Apps</a></li>
                              </ul>
                            </li>
                          <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/ruby/rake-config.html">Configuring Rake Tasks for Deployed Apps</a></li>
                          <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/ruby/ruby-environment.html">Environment Variables Defined by the Ruby Buildpack</a></li>
                          <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/ruby/ruby-service-bindings.html">Configuring Service Connections for Ruby</a></li>
                          <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/ruby/windows.html">Support for Windows Gemfiles</a></li>
                        </ul>
                      </li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/staticfile/index.html">Staticfile Buildpack</a></li>
                    </ul>
                  </li>
                  <li class="has_submenu">
                  <span role="button"><strong>Using Buildpacks</strong></span>
                    <ul>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/understand-buildpacks.html">How Buildpacks Work</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/stack-association.html">Stack Association</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/use-multiple-buildpacks.html">Pushing an App with Multiple Buildpacks</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/proxy-usage.html">Using a Proxy Server</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/supported-binary-dependencies.html">Supported Binary Dependencies</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/prod-server.html">Production Server Configuration</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/sidecar-buildpacks.html">Sidecar Buildpacks</a></li>
                    </ul>
                  </li>
                  <li class="has_submenu">
                  <span role="button"><strong>Customizing and Developing Buildpacks</strong></span>
                    <ul>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/developing-buildpacks.html">Customizing and Developing Buildpacks</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/custom.html">Creating Custom Buildpacks</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/depend-pkg-offline.html">Packaging Dependencies for Offline Buildpacks</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/merging_upstream.html">Merging from Upstream Buildpacks</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/upgrading_dependency_versions.html">Upgrading Dependency Versions</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/releasing_a_new_buildpack_version.html">Releasing a New Buildpack Version</a></li>
                      <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/updating-buildpack-related-gems.html">Updating Buildpack-Related Gems</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
          <span role="button"><strong>Deploying Apps</strong></span>
            <ul>
              <li class="has_submenu">
              <span role="button"><strong>Pushing Apps to TAS for VMs</strong></span>
                <ul>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/deploy-app.html">Pushing an App</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/manifest.html">Deploying with App Manifests</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/manifest-attributes.html">App Manifest Attribute Reference</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/push-docker.html">Deploying an App with Docker</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/large-app-deploy.html">Deploying a Large App</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/start-restart-restage.html">Starting, Restarting, and Restaging Apps</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/multiple-processes.html">Pushing an App with Multiple Processes</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/push-sub-commands.html">Running cf push Sub-Step Commands</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/rolling-deploy.html">Rolling App Deployments</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/sidecars.html">Pushing Apps with Sidecar Processes</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/blue-green.html">Using Blue-Green Deployment to Reduce Downtime and Risk</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/troubleshoot-app-health.html">Troubleshooting App Deployment and Health</a></li>
                </ul>
              </li>
              <li class="has_submenu">
              <span role="button"><strong>Pushing Apps to TAS for VMs [Windows]</strong></span>
                <ul>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/develop.html">Deploying .NET Apps</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/smb-volumes-apps.html">Using SMB Volumes in .NET Apps</a></li>
                  <li class=""><a href="https://docs.pivotal.io/application-service/2-11/windows/using.html">Tips for .NET Framework Developers</a></li>
                </ul>
              </li>
              <li class="has_submenu">
                 <span role="button"><strong>Getting Started Deploying Java Apps</strong></span>
                 <ul>
                    <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/getting-started-deploying-apps/gsg-grails.html">Getting Started Deploying Grails Apps</a></li>
                    <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/getting-started-deploying-apps/gsg-ratpack.html">Getting Started Deploying Ratpack Apps</a></li>
                    <li class=""><a href="https://docs.pivotal.io/application-service/2-11/buildpacks/java/getting-started-deploying-apps/gsg-spring.html">Getting Started Deploying Spring Apps</a></li>
                 </ul>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
          <span role="button"><strong>Managing Apps</strong></span>
            <ul>
               <li class="has_submenu">
                  <span role="button"><strong>Using Apps Manager</strong></span>
                  <ul>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/console/index.html">About Apps Manager</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/console/dev-console.html">Getting Started with Apps Manager</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/console-login.html">Logging In to Apps Manager</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/console/manage-spaces.html">Managing Orgs and Spaces Using Apps Manager</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/console/console-roles.html">Managing User Roles with Apps Manager</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/appsman-services/adding-services-marketplace.html">Adding and Binding Services Using Apps Manager</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/console/manage-apps.html">Managing Apps and Service Instances Using Apps Manager</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/console/space-asgs.html">Viewing ASGs in Apps Manager</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/console/spring-boot-actuators.html">Configuring Spring Boot Actuator Endpoints for Apps Manager</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/console/using-actuators.html">Using Spring Boot Actuators with Apps Manager</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/configure-multi-foundation.html">Configuring Multi-Foundation Support in Apps Manager</a></li>
                     <li class="has_submenu">
                        <span role="button"><strong>Scaling an App Using App Autoscaler</strong></span>
                        <ul>
                           <li class=""><a href="https://docs.pivotal.io/application-service/2-11/appsman-services/autoscaler/about-app-autoscaler.html">About App Autoscaler</a></li>
                           <li class=""><a href="https://docs.pivotal.io/application-service/2-11/appsman-services/autoscaler/using-autoscaler.html">Scaling an App Using App Autoscaler</a></li>
                           <li class=""><a href="https://docs.pivotal.io/application-service/2-11/appsman-services/autoscaler/spring-tutorial.html">Tutorial: Scaling a Spring App on a Custom Metric</a></li>
                           <li class=""><a href="https://docs.pivotal.io/application-service/2-11/appsman-services/autoscaler/using-autoscaler-cli.html">Using the App Autoscaler CLI</a></li>
                           <li class=""><a href="https://docs.pivotal.io/application-service/2-11/appsman-services/autoscaler/using-autoscaler-api.html">Using the App Autoscaler API</a></li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Using the cf CLI</strong></span>
                  <ul>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/cf-cli/install-go-cli.html">Installing the cf CLI</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/cf-cli/v7.html">Upgrading to cf CLI v7</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/cf-cli/getting-started.html">Getting Started with the cf CLI</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/cf-cli/http-proxy.html">Using the cf CLI with a Proxy Server</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/cf-cli/self-signed.html">Using the cf CLI with a Self-Signed Certificate</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/cf-cli/use-cli-plugins.html">Using cf CLI Plugins</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/cf-cli/develop-cli-plugins.html">Developing cf CLI Plugins</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/cf-cli/cf-help.html">cf CLI v6 Reference Guide</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/cf-cli/cf7-help.html">cf CLI v7 Reference Guide</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/v3-commands.html">Using Experimental cf CLI Commands</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Observability</strong></span>
            <ul>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/loggregator/data-sources.html">Overview of Logging and Metrics</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/loggregator/agent-architecture.html">Log and Metric Agent Architecture (Beta)</a></li>
               <li class="has_submenu">
                  <span role="button"><strong>Logging</strong></span>
                  <ul>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/logging-config-opsman.html">Configuring Logging in TAS for VMs</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/devguide/deploy-apps/streaming-logs.html">App Logging in TAS for VMs</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/loggregator/cc-uaa-logging.html">Security Event Logging</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/loggregator/app-log-rate-limits.html">App Log Rate Limiting</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/custom-syslog-rules.html">Customizing Platform Log Forwarding</a></li>
                  </ul>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Monitoring</strong></span>
                  <ul>
                    <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/monitoring/index.html">Monitoring TAS for VMs</a></li>
                    <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/monitoring/metrics.html">Selecting and Configuring a Monitoring System</a></li>
                    <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/id-jobs.html">Identifying TAS for VMs Jobs Using vCenter</a></li>
                  </ul>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>App Metrics</strong></span>
                  <ul>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/loggregator/container-metrics.html">Container Metrics</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/metric-registrar/index.html">Metric Registrar and Custom App Metrics</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/metric-registrar/using.html">Using Metric Registrar</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/identify-metric-source.html">Identifying the Source Deployment of Metrics</a></li>
                  </ul>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Performance and Scaling</strong></span>
                  <ul>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/monitoring/kpi.html">Key Performance Indicators</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/monitoring/key-cap-scaling.html">Key Capacity Scaling Indicators</a></li>
                  </ul>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Reporting</strong></span>
                  <ul>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/accounting-report.html">Reporting App, Task, and Service Instance Usage</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/accounting-report-apps-man.html">Reporting Instance Usage with Apps Manager</a></li>
                  </ul>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Loggregator Architecture</strong></span>
                  <ul>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/loggregator/architecture.html">Log and Metric Egress Architecture</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/loggregator/log-ops-guide.html">Loggregator Guide for TAS for VMs Operators</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/loggregator/nozzle-tutorial.html">Deploying a Nozzle to the Loggregator Firehose</a></li>
                     <li class=""><a href="https://docs.pivotal.io/application-service/2-11/loggregator/cli-plugin.html">Installing the Loggregator Plugin for cf CLI</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Troubleshooting and Diagnostics</strong></span>
            <ul>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/diagnostics.html">Diagnosing Deployment Problems</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/troubleshooting_slow_requests.html">Troubleshooting Slow Requests in TAS for VMs</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/troubleshooting_tcp_routing.html">Troubleshooting TCP Routing</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/adminguide/troubleshooting-router-error-responses.html">Troubleshooting Router Error Responses</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/gcp-troubleshooting.html">Troubleshooting TAS for VMs on GCP</a></li>
               <li class=""><a href="https://docs.pivotal.io/application-service/2-11/operating/power-failure.html">Checking TAS for VMs State after a Power Failure on vSphere</a></li>
            </ul>
         </li>
      </ul>
      <hr>
      <ul>
         <%= partial "/pcf/subnavs/external-product-links" %>
      </ul>
   </div>
</div>

<%# Make relative link if book path is in link: %>
<script>

var domain = window.location.protocol + "//" + window.location.hostname;

if (window.location.hostname == "localhost") {
   var domain = domain + ":" + window.location.port;
}

$('#sub-nav a[href]').each(function() {
   if ($(this).attr("href").includes("<%= product_info['url_prefix'] %>")) {
      var new_href = $(this).attr("href").replace("https://docs.pivotal.io", '');
      $(this).attr("href", new_href);
   }
   else {
      var new_href = $(this).attr("href").replace("https://docs.pivotal.io", domain);
      $(this).attr("href", new_href);
   }
});

</script>
