More than one version of Tanzu Gemfire for Kubernetes can work
with more than one version of Tanzu GemFire cluster.
This table lists version compatibilities.

<table class="nice">
    <th>Tanzu Gemfire for Kubernetes</th>
    <th>Works with Tanzu GemFire Cluster</th>
    <tr>
        <td>v1.0.0, 1.0.1, and 1.0.2</td>
        <td>v1.0.0, 1.0.1, and 1.0.2</td>
    </tr>
</table>

