<p class="note warning">
<strong>Warning:</strong>
<%= vars.product_full %> is currently in beta and is intended for evaluation
and test purposes only. However, this product can be used in a production environment
because it does not have any impact on other tiles or Linux VMs.
</p>
