<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {

    id: '',

    description: 'Upgrade All Service Instances Errand Takes Too Long',

    symptom: '
    <p>
    Depending on your IaaS and the number of service instances, the
    <a href="#upgrade-all"><code>upgrade-all-service-instances</code></a>
    task takes 15-20 minutes per instance if you changed IaaS resources, and
    5-10 minutes per instance if you reconfigured BOSH releases.
    </p>

    <p>
    You can calculate how long the errand should take by multiplying the number of instances
    by 20 minutes.
    If the errand takes longer than this you might want to take action.
    </p>',

    cause: '',

    solution: 'If the errand goes on for much longer than the time you calculated above:
    <ol>
    <li>
    <p>
    <code>ssh</code> onto the errand VM.
    </p>
    </li>
    <li>
    Find the errand output log by running:
    <pre><code>cd /var/vcap/sys/log</code></pre>
    </li>
    <li>
    Check if the errand is still attempting to upgrade instances by running:
    <pre><code>tail -f LOG</code></pre>
    If it is, then allow the errand to continue.
    </li>
    <li>
    <p>
    If the errand appears to be stuck, cancel the errand task:
    </p>
    <ol>
    <li>
    <p>
    Identify the errand task by running:
    <pre><code>bosh tasks</code></pre>
    </p>
    </li>
    <li>
    <p>
    Cancel the errand task by running:
    <pre><code>bosh cancel-task TASK-ID</code></pre>
    </p>
    </li>
    <li>
    <p>
    Retry <a href="#upgrade-all">running the errand</a>.
    </p>
    </li>
    </ol>
    </li>
    </ol>

'}%>
