<a name="instance-not-exist"></a>
<table class="nice">
  <style>
    main table {
      table-layout: fixed;
    }
  </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th colspan="2" style="text-align: left;">
    <br>
    Instance Does Not Exist
    <br><br>
  </th>
  </tr>
  <tr>
    <th>Symptom</th>
    <td>
      If developers report errors such as:
      <pre class="terminal">Server error, status code: 502, error code: 10001, message: Service broker error: instance does not exist</pre>
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>The instance might have been deleted.</td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>
      To troubleshoot:
      <ol>
        <li>
          Confirm that the <%= vars.product_short %> instance exists in BOSH and
          obtain the GUID CF by running:
          <pre class="terminal">cf service MY-INSTANCE --guid</pre>
        </li>
        <li>
          Using the GUID obtained above, run:
          <pre class="terminal">bosh -d service-instance_GUID vms</pre>
        </li>
      </ol>
      If the BOSH deployment is not found, it has been deleted from BOSH.
      Contact Support for further assistance.
    </td>
  </tr>
</table>
