<p>
  You can file a ticket with <a href="https://support.pivotal.io/">Support</a>.
  Be sure to provide the error message from <code>cf service YOUR-SERVICE-INSTANCE</code>.
</p>

<p>
  To expedite troubleshooting, provide your service broker logs and your service instance logs.
  If your <code>cf service YOUR-SERVICE-INSTANCE</code> output includes a
  <code>task-id</code>, provide the BOSH task output.
</p>
