<p>
  Use <code>cf ssh</code> to access to the app container, then try connecting to
  the <%= vars.product_short %> service instance using the binding included in the
  <code>VCAP_SERVICES</code> environment variable.
</p>
