<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
	id: 'credential-setting-failure',
    description: 'Error: Failed to Set Credentials in Credential Store',
    symptom: "<p>If you encounter:</p>
			<pre class='terminal'>
error: failed to set credentials in credential store:
The request includes an unrecognized parameter 'mode'.
Please update or remove this parameter and retry your request.</pre>",
    cause: 'After upgrading from ' + vars.platform_name + ' v2.3 to v2.4, it 
    is likely because one or more installed on-demand brokers were not restarted during the upgrade.',
    solution: 'To clear the cached server version and enable
			  your on-demand brokers to communicate with CredHub v2, do the 
			  	procedure in
			  <a href="https://docs.pivotal.io/pivotalcf/2-4/customizing/upgrading-pcf.html#bosh-restart">Run BOSH Restart on Your On-Demand Service Brokers</a>.'
} %>





