<a name="upgrade-individual-instances"></a>
<table class="nice">
  <style>
    main table {
      table-layout: fixed;
    }
  </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th colspan="2" style="text-align: left;">
    <br>
    Cannot Update a Service Instance
    <br><br>
  </th>
  </tr>
  <tr>
    <th>Symptom</th>
    <td>If developers report errors such as the following when trying to run <code>cf-update-service</code>:
      <pre class="terminal">Server error, status code: 502, error code: 10001, message: Service broker error: Service cannot be updated at this time, please try again later or contact your operator for more information.</pre></td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>Their service instance might not be running the latest service offering.</td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>Operators must run the <code>upgrade-all-service-instances</code> errand after upgrading
      to ensure all existing service instances are upgraded to the latest service offering.
      See <a href="#upgrade-all">Upgrade All Service Instances</a>.
      <br><br>
      App developers cannot upgrade individual service instances to the latest service offering.
      They cannot set parameters or change plan until you upgrade their service instances.</td>
  </tr>
</table>
