<p>
  If developers report errors such as:
</p>

<pre class="terminal">
Message: Service broker error: The quota for this service has been exceeded.
Please contact your Operator for help.
</pre>

<ol>
  <li>Check your current global quota.</li>
  <li>Increase the global quota.</li>
  <li>Log in to <%= vars.ops_manager %>.</li>
  <li>Reconfigure the quota on the on-demand settings page.</li>
  <li>Deploy the tile.</li>
  <li>Find out who is using the quota and take the appropriate action.</li>
</ol>
