<p>
  The VM or Disk type that you configured in the plan page of the tile in <%= vars.ops_manager %>
  might not be large enough for the <%= vars.product_short %> service instance to start.
  See tile-specific guidance on resource requirements.
</p>
