<a name="cannot-create-delete"></a>
<table class="nice">
  <style>
    main table {
      table-layout: fixed;
    }
  </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th colspan="2" style="text-align: left;">
    <br>
    Cannot Create or Delete Service Instances
    <br><br>
  </th>
  </tr>
  <tr>
    <th>Symptom</th>
    <td>
      If developers report errors such as:
      <pre class="terminal">Instance provisioning failed: There was a problem completing your request. Please contact your operations team providing the following information: service: redis-acceptance, service-instance-guid: ae9e232c-0bd5-4684-af27-1b08b0c70089, broker-request-id: 63da3a35-24aa-4183-aec6-db8294506bac, task-id: 442, operation: create</pre>
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>
      Reasons include:
      <ul>
        <li>Problems with the deployment manifest</li>
        <li>Authentication errors</li>
        <li>Network errors</li>
        <li>Quota errors</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>
      To troubleshoot:
      <ol>
        <li>
          If the BOSH error shows a problem with the deployment manifest, open the
          manifest in a text editor to inspect it.
        </li>
        <li>
          To continue troubleshooting,
          <a href="https://docs.pivotal.io/ops-manager/install/trouble-advanced.html#log-in">Log in to BOSH</a>
          and target the <%= vars.product_short %> instance using the instructions
          on <a href="#parse-error">parsing a Cloud Foundry error message</a>.
        </li>
        <li>
          Retrieve the BOSH task ID from the error message and run the following command:
          <pre class="terminal">bosh task TASK-ID</pre>
        </li>
        <li>
          If you need more information, <a href="#access-broker">access the broker logs</a> and
          use the <code>broker-request-id</code> from the error message above to search the logs for
          more information. Check for:
          <ul>
            <li><a href="#auth">Authentication errors</a></li>
            <li><a href="#network">Network errors</a></li>
            <li><a href="#quotas">Quota errors</a></li>
          </ul>
        </li>
      </ol>
    </td>
  </tr>
</table>
