<p>
	To view usage statistics for any service, do the following:
</p>

<ol>
	<li>
		<p>
			Run the following command:
		</p>
		<pre><code>bosh -d DEPLOYMENT-NAME vms --vitals</code></pre>
	</li>
	<li>
		<p>
			To view process-level information, run:
		</p>
		<pre><code>bosh -d DEPLOYMENT-NAME instances --ps</code></pre>
	</li>
</ol>
