<a name="credential-setting-failure"></a>
<table class="nice">
  <style>
    main table {
      table-layout: fixed;
    }
  </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th colspan="2" style="text-align: left;">
    <br>
    Error: Failed to Set Credentials in Credential Store
    <br><br>
  </th>
  </tr>
  <tr>
    <th>Symptom</th>
    <td>
      <p>If you encounter the error:</p>
      <pre class="terminal">
      error: failed to set credentials in credential store:<br>
      The request includes an unrecognized parameter 'mode'.<br>
      Please update or remove this parameter and retry your request.
      </pre>
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>
      After upgrading from <%= vars.platform_name %> v2.3 to v2.4, it
      is likely because one or more installed on-demand brokers were not restarted during the upgrade.
    </td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>
      To clear the cached server version and enable your on-demand brokers to
      communicate with CredHub v2, follow the procedure in
      <a href="https://docs.pivotal.io/pivotalcf/2-4/customizing/upgrading-pcf.html#bosh-restart">Run BOSH Restart on Your On-Demand Service Brokers</a>.
    </td>
  </tr>
</table>
