<p class="note breaking"><strong>Breaking Change:</strong>
  This release is incompatible with the v0.11 beta release of <%= vars.product_short %>.
  Before you install <%= vars.product_short %> v1.0, you must uninstall
  <%= vars.product_short %> v0.11.
  After you install <%= vars.product_short %> v1.0, you must re-add your service offerings.
</p>
