<p>
  The BOSH layer that underlies <%= vars.ops_manager %> generates <code>healthmonitor</code>
  metrics for all VMs in the deployment.
  As of <%= vars.ops_manager %> v2.0, these metrics are included in the Loggregator Firehose by default.
  For more information, see
  <a href="https://docs.pivotal.io/pivotalcf/2-0/pcf-release-notes/runtime-rn.html#bosh-metrics">BOSH System Metrics Available in Loggregator Firehose</a>
  in <em> <%= vars.app_runtime_full %> Release Notes</em>.
</p>
