<p class="note">
  <strong>Note: This version of <%= vars.product_short %> is no longer supported
    because it has reached the End of General Support phase.</strong>
  To stay up to date with the latest software and security updates,
  upgrade to a supported version.
</p>
