<p>
  You need the GUID of your service instance to run some BOSH commands.
  To retrieve the GUID, run the command:
</p>

<p>
  <pre>service SERVICE-INSTANCE-NAME --guid</pre>
</p>

<p>
  If you do not know the name of the service instance, run <code>cf services</code> to see a
  listing of all service instances in the space. The service instances are listed
  in the name column.
</p>
