<div class="quick-links">
  <ul>
    <li><a href="#global">Create Global-level Quotas</a></li>
    <li><a href="#plan">Create Plan-level Quotas</a></li>
    <li><a href="#org">Create and Set Org-level Quotas</a></li>
    <li><a href="#space">Create and Set Space-level Quotas</a></li>
    <li><a href="#view">View Current Org and Space-level Quotas</a></li>
    <li><a href="#monitor">Monitor Quota Use and Service Instance Count</a></li>
    <li><a href="#calculate">Calculate Resource Costs for On-Demand Plans</a></li>
    <ul>
      <li><a href="#calculate-per-plan">Calculate Maximum Resource Cost Per On-Demand Plan</a></li>
      <li><a href="#calculate-all-plans">Calculate Maximum Resource Cost for All On-Demand Plans</a></li>
      <li><a href="#calculate-actual">Calculate Actual Resource Cost of all On-Demand Plans</a></li>
    </ul>
  </ul>
</div>
