<p class="note"><strong>Note:</strong>
  Before you individually upgrade service instances you must have cf CLI v6.46.0 or later.
</p>
<p>
  You can use <code>cf update-service</code> with the <code>--upgrade</code> flag to individually upgrade
  on-demand service instances to the latest version of <%= vars.product_short %>.
  When you upgrade a service instance, you do not need to rebind your app or service keys.
  However, when you upgrade a service instance the
  <% if vars.product_short == "Tanzu SQL for VMs" %>database is unavailable for several minutes.
  <% else %>the RabbitMQ nodes are updated serially and are therefore unavailable one node at a time.<% end %>
</p>
<p>
  For more information about using <code>cf update-service</code>, see the
  <a href="https://cli.cloudfoundry.org/en-US/cf/update-service.html">Cloud Foundry CLI Reference Guide</a>.
</p>
<p>
  To upgrade a single service instance:
</p>
<ol>
  <li>
    <p>
      Confirm that an upgrade is available for the service instance by running:
    </p>
    <pre>cf services</pre>
    <p>
      The upgrade is available when the <code>upgrade available</code> column in the output says <code>yes</code>.
      <br><br>
      For example:
    </p>
<% if vars.product_short == "Tanzu SQL for VMs" %>
<pre class="terminal">
$ cf services
Getting services in org system / space system as admin...

name         service    plan      bound apps  last operation    broker                  upgrade available
my-instance  p.mysql    db-small              create succeeded  dedicated-mysql-broker  yes
</pre>
<% else %>
<pre class="terminal">
$ cf services
Getting services in org system / space system as admin...

name         service     plan         bound apps  last operation    broker                     upgrade available
my-instance  p.rabbitmq  single-node              create succeeded  dedicated-rabbitmq-broker  yes
</pre>
<% end %>
  </li>
  <li>
    <p>
      Upgrade the service instance by running:
    </p>
    <pre>cf update-service SERVICE-INSTANCE-NAME --upgrade</pre>
  </li>
  <li>
    <p>
      When prompted, confirm that you want to upgrade.
    </p>
  </li>
</ol>
