<p class="note"><strong>Note:
<%= vars.product_old %> v1.13 is no longer supported because it has reached the
End of General Support phase.</strong>
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>
