<p class="note warning"><strong> Warning</strong>:
You must follow the upgrade procedure described in
<a href="upgrade.html#upgrade-preprovisioned">Upgrade the <%= vars.product_old %> Pre-Provisioned Service</a>
to successfully upgrade from <%= vars.product_old %> v1.12 to v1.13.
If you do not follow the procedure, you will experience prolonged downtime and might experience data loss.
</p>
