## <a id="upgrade"></a> Upgrade to the Latest Version

For <%= vars.product_short %> v1.19 and v1.20, you can skip a
minor version when you upgrade.

See the following table to find your upgrade path:

<table class="nice">
  <th>If you are on...</th>
  <th>Upgrade to...</th>
  <tr>
    <td>v1.18.x</td>
    <td>v1.19.6</td>
  </tr>
  <tr>
    <td>v1.19.0–1.19.5</td>
    <td>v1.19.6</td>
  </tr>
  <tr>
    <td>v1.19.6</td>
    <td>v2.0</td>
  </tr>
  <tr>
    <td>v1.20–1.20.4</td>
    <td>v1.20.5</td>
  </tr>
  <tr>
    <td>v1.20.5</td>
    <td>v2.0</td>
  </tr>
  <tr>
    <td>v1.21.x</td>
    <td>v2.0</td>
  </tr>
</table>

Before starting an upgrade, review the release notes for the version that you are upgrading to.
