<p class="note warning"><strong>Warning:</strong> <%= vars.product_full %> is currently in beta and is intended for evaluation and test purposes only. Do not use this product in a production environment.

If you discover any bugs, contact <a href="https://tanzu.vmware.com/support"> Support</a>.
</p>
