<p class="note"><strong>Note:</strong> This version of <%= vars.app_runtime_abbr %> contains a known issue that can cause application traces to break. See <a href="#gorouter-incorrect-span-id">Gorouter Sets an Invalid X-B3-SpanID Header</a> in <em>Known Issues</em>.</p>
