<p class="note"><strong>Note:</strong> Windows stemcells v2019.44 and later are not compatible with this version of <%= vars.windows_runtime_abbr %>. You must use a Windows stemcell version between v2019.0 and v2019.43 to install this release.</p>
