<ul>
  <li>
    <p>
      <strong>Backups do not upload to s3 
      external storage:</strong> <%= vars.product_short %> 
      does not configure the endpoint url and instead uses the 
      default AWS endpoint.
    </p>
    <p>
      This issue impacts:
    </p>
    <ul>
      <li>Amazon S3 buckets that use custom endpoints</li>
      <li>Ceph storage clusters</li>
      <li>Other S3-compatible endpoints certified by VMware</li>
    </ul>
    <p>
      To mitigate this issue, configure a different external storage option. 
      You can configure secure copy protocol (SCP), Google Cloud Storage (GCS), 
      or Azure Storage. For more information about how to configure external 
      storage, see <a href="./backup.html#enable-backups" target="_blank">About Configuring Automated Backups</a>.
    </p>
  </li>
</ul>
