<div class="quick-links">
  <ul>
    <li><a href="#proxy">MySQL Proxy</a></li>
    <li><a href="#node-health">Node Health</a></li>
    <ul>
      <li><a href="#healthy">Healthy</a></li>
      <li><a href="#unhealthy">Unhealthy</a></li>
      <li><a href="#unresponsive">Unresponsive</a></li>
    </ul>
    <li><a href="#monitor">Monitor Node Health</a></li>
    <ul>
      <li><a href="#dashboard">Monitor Node Health Using the Dashboard</a></li>
      <ul>
        <li><a href="#dashboard-url">Construct the URL for the Dashboard</a></li>
        <li><a href="#dashboard-login">Log In to the Dashboard</a></li>
        <li><a href="#use-dashboard">Use the Dashboard</a></li>
      </ul>
      <li><a href="#proxy-api">Monitor Node Health Using the API</a></li>
    </ul>
  </ul>
</div>
