<div class="quick-links">
  <ul>
    <li><a href="#bosh-v2">Run mysql-diag the Using BOSH Command Line Interface (CLI)</a></li>
    <li><a href="#healthy">Example Healthy Output</a></li>
    <li><a href="#unhealthy">Example Unhealthy Output</a></li>
  </ul>
</div>
