<p class="note warning"><strong>Warning:</strong>
If a developer rebinds an app to the <%= vars.product_short %> service after unbinding,
they must also rebind any existing custom schemas to the app.
When you rebind an app, stored code, programs, and triggers break.
For more information about binding custom schemas, see <a href="./use.html#schema">Use Custom Schemas</a>.
</p>
