<ul>
	<li>
	<strong>If you have many buildpacks in your environment, smoke tests may fail with timeout:</strong>
	To mitigate this issue, reduce the number of buildpacks in your environment.
	</li>
</ul>
