<ul>
	<li>
	<strong>Stemcells v621.141 and later are not compatible with this release. </strong>
	To mitigate this issue, use a stemcell version between 621.136
        and the minimum version indicated in the Compatibility table below.
	</li>
</ul>
