If you have a feature request, questions, or information about an issue, please email
[<%= vars.product_short %> Feedback](mailto:pdc-feedback@pivotal.io).

<p class="note">
  <strong>Note:</strong> Support for <%= vars.product_short %> is currently limited because it is
  supported by the <%= vars.product_short %> engineers and not by Support.
</p>
