<p class="note"><strong>Note:</strong> Certificates generated in <%= vars.app_runtime_abbr %> are signed by the <%= vars.ops_manager %> Certificate Authority. They are not technically self-signed, but they are referred to as "self-signed certificates" in the <%= vars.ops_manager %> UI and throughout this documentation.</p>
