Open-source software provides the basis for <%= vars.platform_name %>. <%= vars.app_runtime_abbr %> is the Pivotal distribution of <a href="https://www.cloudfoundry.org/application-runtime/">Cloud Foundry Application Runtime</a> software for hosting apps. Pivotal offers additional commercial features, enterprise services, support, documentation, certificates, and other value-adds.
