1. Select **Syslog**.

	<% if vars.product_short == "Redis for Tanzu Application Service" || vars.product_short == "Redis for Pivotal Platform" %>
    ![The Syslog configuration page in the Redis for PCF tile in Ops Manager.
		See below for information about configuring this pane.](syslog-forwarding.png)
		<a href="./images/syslog-forwarding.png" target="_blank" aria-hidden="true">
			Click here to view a larger version of this image</a>
	<% end %>

1. (Optional) Select **Yes** to send <%= syslog_context %> system logs to a remote server.

1. Enter the IP address or DNS name for the remote server in **Address**.

1. Enter the port number that the remote server listens on in **Port**.

1. Select **TCP** or **UDP** from the **Transport Protocol** dropdown. This selection determines which transport protocol is used to send the logs to the remote server.

1. (Optional) Select the **Enable TLS** checkbox to send encrypted logs to remote server with TLS. After you select the checkbox:
	1. Enter either the name or SHA1 fingerprint of the remote peer in **Permitted Peer**.
	1. Enter the SSL certificate for the remote server in **SSL Certificate**.
	<p class="note"><strong>Note:</strong> <%= vars.company_name %> strongly recommends that you enable TLS encryption when you are forwarding logs. Logs can contain sensitive information, such as cloud provider credentials.</p>

1. (Optional) Enter an integer in **Queue Size**. This value specifies the number of log messages held in the buffer. The default value is 100,000.

1. (Optional) Select the checkbox to **Forward Debug Logs** to an external source. This option is deselected by default. If you select it, you may generate a large amount of log data.

1. (Optional) Enter configuration details for rsyslog in the **Custom rsyslog Configuration** field. This field requires the rainerscript syntax.

1. Click **Save**.
