<p class="note breaking"><strong>Breaking change</strong>:
  Before enabling TLS for on-demand service instances,
  you must follow the procedures in <a href="./preparing-tls.html">Preparing for TLS</a>
  and ensure that you have configured the correct ports.
  For how to configure the ports, see <a href="./installing.html#network-configuration">Installing <%= vars.product_old %></a>.
</p>
