<p class="note warning"><strong>Warning: </strong>
  If you are upgrading PCF v2.3 to v2.4, you must run the
  <code>bosh -d YOUR-DEPLOYMENT restart redis-on-demand-broker</code> errand after upgrading.
  Failure to do so causes compatibility issues with runtime CredHub.
</p>
