<p class="note warning"><strong>Warning</strong>:
  If you are on Azure with AZ support and using <%= vars.ops_manager %> v2.5, do not select
  the <strong>Allow outbound internet access from service instances</strong> checkbox
  on the On-Demand Service Settings pane.
  If you select this checkbox on these environments, you will receive an error message
  when running smoke tests or creating a service instance.
</p>
